/* .shopping-container {
    padding: 5px;
    font-family: Arial, sans-serif;
}

.loader {
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.add-to-cart-button,
.remove-button {
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.quantity-controls button {
    background: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.go-to-cart-button {
    background: #ff6347;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
} */